:root {
  --color1: #f1f1f1;
  --color2: #397bc5;
  --color3: #73bdff;
  --color4: #62396a;
  --color5: #121212;
  --hsp2: #f1f1f1;
  --hsp3: #121212;
  --hsp4: #f1f1f1;
  --artURL: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/194.png');
  --bgURL: url(../public/bgDark.jpg);
  --font1: carnacLight;
}

@font-face {
  font-family: carnacLight;
  src: url(fonts/Carnac-Light.otf);
}

html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* .App * {
  border: 1px solid black;
} */

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

.example * {
  transition: all 300ms;
}

.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: var(--font1);
  border-right: 4px solid var(--color1);
}

.poke * {
  transition: all 100ms ease-in-out;
}

.pokeCard input {
  border-radius: 15px;
  border: 0 solid #121212;
  background-color: var(--color1);
  color: var(--color5);
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  margin: 5px 0 0px 0;
  border: 1px solid var(--hsp3);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font1);
  outline: none;
}

.pokeCard .type {
  color: var(--hsp3);
}

.pokeCard #my-canvas {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2px;
}

.pokeCard #buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pokeCard #buttons > * {
  padding: 10px;
  font-size: 18px;
  font-family: var(--font1);
  background-color: var(--color1);
  color: var(--color5);
  border-radius: 15px;
  border: 1px solid var(--hsp3);
  outline: none;
  cursor: pointer;
}

.pokeCard input {
  text-align: center;
}

.pokeCard #numLine {
  padding: 0;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pokeCard #numLine input::-webkit-outer-spin-button,
.pokeCard #numLine input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pokeCard #numLine input {
  border-radius: 5px;
  width: 50px;
  -moz-appearance: textfield;
}

.pokeCard #numLine button {
  color: var(--color1);
  padding: 0 0px 0 0px;
  margin: 0 10px 0 10px;
  background: none;
  border: #00000000;
  filter: drop-shadow(0 0 1px var(--color5));
  cursor: pointer;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

#example {
  margin-left: 30vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  scroll-behavior: smooth;
}

#example > *:nth-child(2n + 1) {
  background-color: var(--color5);
}

#example > *:nth-child(2n):not(footer) {
  background-color: var(--color1);
}

#example h1 {
  font-size: 40px;
}

#example main p {
  font-size: 16px;
  margin-bottom: 30px;
  width: 80%;
}

#example #faReact {
  display: inline;
}

#example button {
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  margin-top: 50px;
  margin-right: 20px;
  text-transform: uppercase;
  /* color: var(--color1); */
  border-radius: 5px;
  border: 0px solid #121212;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  font-family: var(--font1);
}

#example button:hover {
  filter: brightness(1.2);
}

#example #scrollDown {
  color: var(--hsp4);
  background-color: var(--color4);
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#example #darkMode {
  color: var(--hsp3);
  background-color: var(--color3);
  border-radius: 50%;
  padding: 13px 14px 13px 14px;
  margin: 0;
}

FaMoon,
FaSun {
  color: var(--hsp3);
}

#moon {
  display: none;
}

#example main #backdrop {
  background-color: var(--color2);
  mix-blend-mode: color;
  opacity: 0.7;
  width: 100%;
  height: 90vh;
  position: absolute;
  left: 30.2vw;
  top: 0;
  z-index: 0;
}

#example main {
  background-image: var(--bgURL);
  background-size: 300vh auto;
  background-position: left;
  padding: 0px 10% 20px 10%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

/* #example main:hover {
  background-image: url(../public/bgLight.jpg);
} */

#example main section {
  width: 50%;
  border-radius: 16px;
  z-index: 1;
  color: var(--color1);
}

#example main #artCanvas {
  background-image: var(--artURL);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 50%;
  height: 400px;
  filter: drop-shadow(0 0 20px var(--color5));
  z-index: 9;
  /* padding: 0 50px 0 50px; */
  /* background-blend-mode: color; */
  transition: all 0.2s ease-in-out;
}

#example main #artCanvas:hover {
  filter: drop-shadow(0 0 15px var(--color1)) contrast(1.3) saturate(1.5);
}

#example main #artCanvas #colorFilter {
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  opacity: 0.85;
  border-radius: 100px;
  mix-blend-mode: hue;
  filter: blur(100px);
  transition: all 1s ease-in-out;
  opacity: 0.4;
  /* padding: 0 10px 0 10px; */
}

#example main #artCanvas #colorFilter:hover {
  z-index: 8;
  opacity: 0.2;
}

/* #example aside article {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  mix-blend-mode: color;
  opacity: 1;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
} */

/* #example aside article:hover > .gridItem:nth-child(2n + 1) {
  opacity: 0;
}

#example aside article:hover > .gridItem:nth-child(2n) {
  opacity: 1;
} */

/* .gridItem {
  background-color: var(--color3);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--hsp2);
  transition: all 400ms ease-in-out;
  opacity: 0.8;
  filter: blur(12px);
}

.gridItem:nth-child(2n) {
  opacity: 0;
}

@keyframes gradient {
  0% {
    background: linear-gradient(0deg, var(--color2), var(--color4));
  }
  1% {
    background: linear-gradient(3.6deg, var(--color2), var(--color4));
  }
  2% {
    background: linear-gradient(7.2deg, var(--color2), var(--color4));
  }
  3% {
    background: linear-gradient(10.8deg, var(--color2), var(--color4));
  }
  4% {
    background: linear-gradient(14.4deg, var(--color2), var(--color4));
  }
  5% {
    background: linear-gradient(18deg, var(--color2), var(--color4));
  }
  6% {
    background: linear-gradient(21.6deg, var(--color2), var(--color4));
  }
  7% {
    background: linear-gradient(25.2deg, var(--color2), var(--color4));
  }
  8% {
    background: linear-gradient(28.8deg, var(--color2), var(--color4));
  }
  9% {
    background: linear-gradient(32.4deg, var(--color2), var(--color4));
  }
  10% {
    background: linear-gradient(36deg, var(--color2), var(--color4));
  }
  11% {
    background: linear-gradient(39.6deg, var(--color2), var(--color4));
  }
  12% {
    background: linear-gradient(43.2deg, var(--color2), var(--color4));
  }
  13% {
    background: linear-gradient(46.8deg, var(--color2), var(--color4));
  }
  14% {
    background: linear-gradient(50.4deg, var(--color2), var(--color4));
  }
  15% {
    background: linear-gradient(54deg, var(--color2), var(--color4));
  }
  16% {
    background: linear-gradient(57.6deg, var(--color2), var(--color4));
  }
  17% {
    background: linear-gradient(61.2deg, var(--color2), var(--color4));
  }
  18% {
    background: linear-gradient(64.8deg, var(--color2), var(--color4));
  }
  19% {
    background: linear-gradient(68.4deg, var(--color2), var(--color4));
  }
  20% {
    background: linear-gradient(72deg, var(--color2), var(--color4));
  }
  21% {
    background: linear-gradient(75.6deg, var(--color2), var(--color4));
  }
  22% {
    background: linear-gradient(79.2deg, var(--color2), var(--color4));
  }
  23% {
    background: linear-gradient(82.8deg, var(--color2), var(--color4));
  }
  24% {
    background: linear-gradient(86.4deg, var(--color2), var(--color4));
  }
  25% {
    background: linear-gradient(90deg, var(--color2), var(--color4));
  }
  26% {
    background: linear-gradient(93.6deg, var(--color2), var(--color4));
  }
  27% {
    background: linear-gradient(97.2deg, var(--color2), var(--color4));
  }
  28% {
    background: linear-gradient(100.8deg, var(--color2), var(--color4));
  }
  29% {
    background: linear-gradient(104.4deg, var(--color2), var(--color4));
  }
  30% {
    background: linear-gradient(108deg, var(--color2), var(--color4));
  }
  31% {
    background: linear-gradient(111.6deg, var(--color2), var(--color4));
  }
  32% {
    background: linear-gradient(115.2deg, var(--color2), var(--color4));
  }
  33% {
    background: linear-gradient(118.8deg, var(--color2), var(--color4));
  }
  34% {
    background: linear-gradient(122.4deg, var(--color2), var(--color4));
  }
  35% {
    background: linear-gradient(126deg, var(--color2), var(--color4));
  }
  36% {
    background: linear-gradient(129.6deg, var(--color2), var(--color4));
  }
  37% {
    background: linear-gradient(133.2deg, var(--color2), var(--color4));
  }
  38% {
    background: linear-gradient(136.8deg, var(--color2), var(--color4));
  }
  39% {
    background: linear-gradient(140.4deg, var(--color2), var(--color4));
  }
  40% {
    background: linear-gradient(144deg, var(--color2), var(--color4));
  }
  41% {
    background: linear-gradient(147.6deg, var(--color2), var(--color4));
  }
  42% {
    background: linear-gradient(151.2deg, var(--color2), var(--color4));
  }
  43% {
    background: linear-gradient(154.8deg, var(--color2), var(--color4));
  }
  44% {
    background: linear-gradient(158.4deg, var(--color2), var(--color4));
  }
  45% {
    background: linear-gradient(162deg, var(--color2), var(--color4));
  }
  46% {
    background: linear-gradient(165.6deg, var(--color2), var(--color4));
  }
  47% {
    background: linear-gradient(169.2deg, var(--color2), var(--color4));
  }
  48% {
    background: linear-gradient(172.8deg, var(--color2), var(--color4));
  }
  49% {
    background: linear-gradient(176.4deg, var(--color2), var(--color4));
  }
  50% {
    background: linear-gradient(180deg, var(--color2), var(--color4));
  }
  51% {
    background: linear-gradient(3.6deg, var(--color4), var(--color2));
  }
  52% {
    background: linear-gradient(7.2deg, var(--color4), var(--color2));
  }
  53% {
    background: linear-gradient(10.8deg, var(--color4), var(--color2));
  }
  54% {
    background: linear-gradient(14.4deg, var(--color4), var(--color2));
  }
  55% {
    background: linear-gradient(18deg, var(--color4), var(--color2));
  }
  56% {
    background: linear-gradient(21.6deg, var(--color4), var(--color2));
  }
  57% {
    background: linear-gradient(25.2deg, var(--color4), var(--color2));
  }
  58% {
    background: linear-gradient(28.8deg, var(--color4), var(--color2));
  }
  59% {
    background: linear-gradient(32.4deg, var(--color4), var(--color2));
  }
  60% {
    background: linear-gradient(36deg, var(--color4), var(--color2));
  }
  61% {
    background: linear-gradient(39.6deg, var(--color4), var(--color2));
  }
  62% {
    background: linear-gradient(43.2deg, var(--color4), var(--color2));
  }
  63% {
    background: linear-gradient(46.8deg, var(--color4), var(--color2));
  }
  64% {
    background: linear-gradient(50.4deg, var(--color4), var(--color2));
  }
  65% {
    background: linear-gradient(54deg, var(--color4), var(--color2));
  }
  66% {
    background: linear-gradient(57.6deg, var(--color4), var(--color2));
  }
  67% {
    background: linear-gradient(61.2deg, var(--color4), var(--color2));
  }
  68% {
    background: linear-gradient(64.8deg, var(--color4), var(--color2));
  }
  69% {
    background: linear-gradient(68.4deg, var(--color4), var(--color2));
  }
  70% {
    background: linear-gradient(72deg, var(--color4), var(--color2));
  }
  71% {
    background: linear-gradient(75.6deg, var(--color4), var(--color2));
  }
  72% {
    background: linear-gradient(79.2deg, var(--color4), var(--color2));
  }
  73% {
    background: linear-gradient(82.8deg, var(--color4), var(--color2));
  }
  74% {
    background: linear-gradient(86.4deg, var(--color4), var(--color2));
  }
  75% {
    background: linear-gradient(90deg, var(--color4), var(--color2));
  }
  76% {
    background: linear-gradient(93.6deg, var(--color4), var(--color2));
  }
  77% {
    background: linear-gradient(97.2deg, var(--color4), var(--color2));
  }
  78% {
    background: linear-gradient(100.8deg, var(--color4), var(--color2));
  }
  79% {
    background: linear-gradient(104.4deg, var(--color4), var(--color2));
  }
  80% {
    background: linear-gradient(108deg, var(--color4), var(--color2));
  }
  81% {
    background: linear-gradient(111.6deg, var(--color4), var(--color2));
  }
  82% {
    background: linear-gradient(115.2deg, var(--color4), var(--color2));
  }
  83% {
    background: linear-gradient(118.8deg, var(--color4), var(--color2));
  }
  84% {
    background: linear-gradient(122.4deg, var(--color4), var(--color2));
  }
  85% {
    background: linear-gradient(126deg, var(--color4), var(--color2));
  }
  86% {
    background: linear-gradient(129.6deg, var(--color4), var(--color2));
  }
  87% {
    background: linear-gradient(133.2deg, var(--color4), var(--color2));
  }
  88% {
    background: linear-gradient(136.8deg, var(--color4), var(--color2));
  }
  89% {
    background: linear-gradient(140.4deg, var(--color4), var(--color2));
  }
  90% {
    background: linear-gradient(144deg, var(--color4), var(--color2));
  }
  91% {
    background: linear-gradient(147.6deg, var(--color4), var(--color2));
  }
  92% {
    background: linear-gradient(151.2deg, var(--color4), var(--color2));
  }
  93% {
    background: linear-gradient(154.8deg, var(--color4), var(--color2));
  }
  94% {
    background: linear-gradient(158.4deg, var(--color4), var(--color2));
  }
  95% {
    background: linear-gradient(162deg, var(--color4), var(--color2));
  }
  96% {
    background: linear-gradient(165.6deg, var(--color4), var(--color2));
  }
  97% {
    background: linear-gradient(169.2deg, var(--color4), var(--color2));
  }
  98% {
    background: linear-gradient(172.8deg, var(--color4), var(--color2));
  }
  99% {
    background: linear-gradient(176.4deg, var(--color4), var(--color2));
  }
  100% {
    background: linear-gradient(180deg, var(--color4), var(--color2));
  }
} */

.shine {
  animation: shine 5s ease-in-out;
}

.deshine {
  animation: shine 1.5s ease-in-out;
}

@keyframes shine {
  0% {
    filter: brightness(1) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
  }
  10% {
    filter: brightness(1) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform: rotate(10deg);
  }
  20% {
    filter: brightness(1.3) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform: rotate(-10deg);
  }
  30% {
    filter: brightness(1.8) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform: rotate(10deg);
  }
  40% {
    filter: brightness(2) drop-shadow(0 0 100px var(--color1)) blur(15px);
    transform: rotate(-10deg);
  }
  50% {
    filter: brightness(30) drop-shadow(0 0 100px var(--color1)) blur(15px);
    transform: rotate(10deg);
  }
  60% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(50px);
  }
  70% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(15px);
  }
  80% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(50px);
  }
  90% {
    filter: brightness(100) drop-shadow(0 0 100px var(--color1)) blur(15px);
  }
  100% {
    filter: brightness(2) contrast(1.2) saturate(1.2);
  }
}

#example #cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  min-height: fit-content;
  z-index: 9;
}

#example #cards > div {
  width: 25%;
  height: 150px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: var(--color1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#example #cards > div:active {
  opacity: 0.8;
}

#example #cards div p {
  font-size: 24px;
}

#example #cards div:nth-child(1) {
  background-color: var(--color2);
  color: var(--hsp2);
}

#example #cards div:nth-child(2) {
  background-color: var(--color3);
  color: var(--hsp3);
}

#example #cards div:nth-child(3) {
  background-color: var(--color4);
  color: var(--hsp4);
}

#example #cards {
  width: 100%;
  min-height: fit-content;
  padding: 50px 0 50px 0;
}

#example #posts {
  min-height: 100px;
}

#example footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--hsp2);
  background-color: var(--color2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* height: 80px; */
  /* opacity: 0.3; */
}

#example a {
  color: var(--hsp2);
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .pokeCard {
    height: 90vh;
    border: 0px solid #121212;
  }

  .pokeCard #buttons {
    margin-top: 20px;
  }

  #example,
  .poke {
    width: 100vw;
    position: relative;
    margin: 0;
    left: 0;
    border: 0px solid #121212;
  }

  #example {
    margin: 0;
    padding: 0;
  }

  #example main {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: 650%;
    background-position: left;
    height: fit-content;
    gap: 0;
  }

  #example main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 50px 0 50px 0;
  }

  #example main h1,
  #example main p {
    width: 90%;
    margin: 0 0 20px 0;
  }

  #example main #backdrop {
    width: 100%;
    height: 150vh;
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    /* display: none; */
  }

  #example main #artCanvas {
    /* display: none; */
    width: 80%;
    margin: 60px 10% 0px 10%;
    height: 300px;
    /* padding: 10%; */
  }

  #example #cards {
    gap: 20px;
  }

  #example #cards div p {
    font-size: 16px;
  }

  #example #cards,
  footer {
    z-index: 9;
  }

  footer * {
    text-align: center;
    font-size: 18px;
    width: 60%;
  }
}
