:root {
  --color1: #f1f1f1;
  --color2: #f1f1f1;
  --color3: #f1f1f1;
  --color4: #f1f1f1;
  --color5: #050505;
}

html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* .App > * {
  border: 1px solid black;
} */

.App {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
  /* box-shadow: 0px 5px 20px #00000015; */
  width: 100vw;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

.poke {
  width: 30vw;
  position: fixed;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  border-right: 4px solid var(--color1);
}

.pokeCard input {
  border-radius: 15px;
  border: 0 solid #121212;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  margin: 5px 0 0px 0;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
}

.pokeCard #my-canvas {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2px;
}

.pokeCard #buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pokeCard #buttons > * {
  padding: 10px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #00000000; */
  border-radius: 15px;
  /* color: #ffffff; */
  border: 2px solid #ffffff;
  outline: none;
}

.pokeCard #buttons #searchBtn {
  transition: all 300ms ease-in-out;
}

.pokeCard #buttons #searchBtn:active {
  background-color: #121212;
}

.pokeCard input {
  text-align: center;
}

.pokeCard #numLine {
  padding: 0;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pokeCard #numLine input::-webkit-outer-spin-button,
.pokeCard #numLine input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pokeCard #numLine input {
  border-radius: 5px;
  width: 50px;
  -moz-appearance: textfield;
}

.pokeCard #numLine button {
  color: var(--color1);
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  background: none;
  border: #00000000;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

#example {
  margin-left: 30vw;
  width: 70vw;
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

#example h1 {
  font-size: 40px;
}

#example main p {
  font-size: 16px;
  margin-bottom: 10px;
  width: 80%;
}

#example #faReact {
  display: inline;
}

#example button {
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  margin-top: 50px;
  margin-right: 20px;
  text-transform: uppercase;
  color: var(--color1);
  border-radius: 5px;
  border: 0px solid #121212;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

#example button:hover {
  filter: brightness(1.2);
}

#example #scrollDown {
  background-color: var(--color4);
}

#example #darkMode {
  background-color: var(--color3);
}

#example main #backdrop {
  background-color: var(--color2);

  mix-blend-mode: color;
  opacity: 0.7;
  width: 100%;
  height: 80vh;
  position: absolute;
  left: 30.2vw;
  top: 0;
  z-index: 0;
}

#example main {
  background-image: url(../public/bg.jpg);
  background-size: 300vh auto;
  background-position: right;
  padding: 0px 5vw 20px 5vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  /* backdrop-filter: blur(1px); */
  height: 74vh;
  align-items: center;
  justify-content: center;
}

#example main section {
  width: 50%;
  /* height: 400px; */
  /* background: rgba(238, 238, 238, 0.27); */
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  z-index: 1;
  color: var(--color1);
}

#example aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* gap: 20px; */
  z-index: 1;
}

#example aside article {
  width: 100%;
  height: 400px;
  border-radius: 0px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  mix-blend-mode: color;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  /* filter: blur(1px); */
}

#example aside article:hover > .gridItem:nth-child(2n + 1) {
  opacity: 0;
}
#example aside article:hover > .gridItem:nth-child(2n) {
  opacity: 1;
}

.gridItem {
  background-color: var(--color1);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-in-out;
}

.gridItem:nth-child(2n) {
  opacity: 0;
}

#example #cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  min-height: fit-content;
}

#example #cards > div {
  width: 25%;
  height: 150px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#example #cards > div:active {
  opacity: 0.8;
}

#example #cards div p {
  font-size: 24px;
}

#example #cards div:nth-child(1) {
  background-color: var(--color2);
}

#example #cards div:nth-child(2) {
  background-color: var(--color3);
}

#example #cards div:nth-child(3) {
  background-color: var(--color4);
}

#example #cards {
  background-color: var(--color1);
  width: 100%;
  min-height: fit-content;
  padding: 50px 0 50px 0;
}

@keyframes gradient {
  0% {
    background: linear-gradient(0deg, var(--color2), var(--color4));
  }
  5% {
    background: linear-gradient(18deg, var(--color2), var(--color4));
  }
  10% {
    background: linear-gradient(36deg, var(--color2), var(--color4));
  }
  15% {
    background: linear-gradient(54deg, var(--color2), var(--color4));
  }
  20% {
    background: linear-gradient(72deg, var(--color2), var(--color4));
  }
  25% {
    background: linear-gradient(90deg, var(--color2), var(--color4));
  }
  30% {
    background: linear-gradient(108deg, var(--color2), var(--color4));
  }
  35% {
    background: linear-gradient(126deg, var(--color2), var(--color4));
  }
  40% {
    background: linear-gradient(144deg, var(--color2), var(--color4));
  }
  45% {
    background: linear-gradient(162deg, var(--color2), var(--color4));
  }
  50% {
    background: linear-gradient(180deg, var(--color2), var(--color4));
  }
  55% {
    background: linear-gradient(198deg, var(--color2), var(--color4));
  }
  60% {
    background: linear-gradient(216deg, var(--color2), var(--color4));
  }
  65% {
    background: linear-gradient(234deg, var(--color2), var(--color4));
  }
  70% {
    background: linear-gradient(252deg, var(--color2), var(--color4));
  }
  75% {
    background: linear-gradient(270deg, var(--color2), var(--color4));
  }
  80% {
    background: linear-gradient(288deg, var(--color2), var(--color4));
  }
  85% {
    background: linear-gradient(306deg, var(--color2), var(--color4));
  }
  90% {
    background: linear-gradient(324deg, var(--color2), var(--color4));
  }
  95% {
    background: linear-gradient(342deg, var(--color2), var(--color4));
  }
  100% {
    background: linear-gradient(360deg, var(--color2), var(--color4));
  }
}

#example footer {
  color: var(--color1);
  background-color: var(--color2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* height: 80px; */
  /* opacity: 0.3; */
}

#example a {
  color: var(--color1);
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .pokeCard {
    height: 90vh;
    border: 0px solid #121212;
  }

  .pokeCard #buttons {
    margin-top: 20px;
  }

  #example,
  .poke {
    width: 100vw;
    position: relative;
    margin: 0;
    left: 0;
    border: 0px solid #121212;
  }

  #example {
    margin: 0;
    padding: 0;
  }

  #example main {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: auto;
    height: fit-content;
  }

  #example main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 50px 0 50px 0;
  }

  #example main h1,
  #example main p {
    width: 90%;
    margin: 0 0 20px 0;
  }

  #example main #backdrop {
    width: 100%;
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    /* display: none; */
  }

  #example aside {
    display: none;
  }

  #example #cards,
  footer {
    z-index: 9;
  }
}
