:root {
  --color1: #f1f1f1;
  --color2: #5a62ac;
  --color3: #41418b;
  --color4: #292952;
  --color5: #18181a;
  --hsp2: #121212;
  --hsp3: #f1f1f1;
  --hsp4: #121212;
  --artURL: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/445.png');
  --bgURL: url(../public/bgDark.webp);
  --font1: carnacLight;
}

@font-face {
  font-family: carnacLight;
  src: url(fonts/Carnac-Light.otf);
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* .App * {
  border: 1px solid black;
} */

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
}

.example > * > * {
  transition: all 500ms;
}

.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2vh;
  font-family: var(--font1);
  border-right: 4px solid var(--color5);
}

.pokeCard input {
  border-radius: 15px;
  border: 0 solid #121212;
  background-color: #f1f1f1;
  color: #121212;
  font-size: 1.6vw;
  padding: 5px 20px 5px 20px;
  margin: 5px 0 0px 0;
  border: 1px solid var(--hsp3);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font1);
  outline: none;
}

.pokeCard .type {
  font-size: 1.2vw;
  color: var(--hsp3);
}

.pokeCard #my-canvas {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2px;
  /* width: 100px;
  height: 100px; */
}

.pokeCard #buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokeCard #buttons > * {
  padding: 10px;
  font-size: 1.5vw;
  font-family: var(--font1);
  background-color: #f1f1f1;
  color: #121212;
  border-radius: 15px;
  border: 1px solid var(--hsp3);
  outline: none;
  cursor: pointer;
}

.pokeCard input {
  text-align: center;
}

.labelInput {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.labelInput label {
  color: var(--hsp3);
}

.pokeCard #numLine {
  padding: 0;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* align-items: left; */
}

.pokeCard #numLine input::-webkit-outer-spin-button,
.pokeCard #numLine input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pokeCard #numLine input {
  border-radius: 5px;
  width: fit-content;
  -moz-appearance: textfield;
}

.pokeCard #numLine button {
  color: #f1f1f1;
  padding: 0 0px 0 0px;
  margin: 0 10px 0 10px;
  background: none;
  border: #00000000;
  filter: drop-shadow(0 0 1px #121212);
  cursor: pointer;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

#example {
  margin-left: 30vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  scroll-behavior: smooth;
}

#example > *:nth-child(2n + 1) {
  background-color: var(--color5);
}

#example > *:nth-child(2n):not(footer) {
  background-color: var(--color5);
}

#example h1 {
  font-size: 3vw;
}

#example main p {
  font-size: 1.2vw;
  margin-bottom: 30px;
  width: 80%;
}

#example #customButtons {
  margin-top: 50px;
}

#example button {
  padding: 15px 20px 15px 20px;
  font-size: 1vw;
  margin-top: 50px;
  margin-right: 20px;
  text-transform: uppercase;
  /* color: var(--color1); */
  border-radius: 5px;
  border: 0px solid #121212;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* transition: all 400ms ease-in-out; */
  font-family: var(--font1);
}

#example button:hover {
  filter: brightness(1.2);
}

#example #scrollDown {
  color: var(--hsp4);
  background-color: var(--color4);
  padding: 15px 20px 15px 20px;
  font-size: 1vw;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#example #darkMode {
  color: var(--hsp3);
  background-color: var(--color3);
  border-radius: 50%;
  padding: 13px 14px 13px 14px;
  margin: 0;
}

FaMoon,
FaSun {
  color: var(--hsp3);
}

#moon {
  display: none;
}

#example main #backdrop {
  background-color: var(--color2);
  mix-blend-mode: color;
  opacity: 0.4;
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 30.2vw;
  top: 0;
  z-index: 0;
}

#example main {
  background-image: var(--bgURL);
  background-size: 300vh auto;
  background-position: left;
  padding: 0px 10% 20px 10%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#example main section {
  width: 35vw;
  border-radius: 16px;
  z-index: 1;
  color: var(--color1);
}

#example main #artCanvas {
  background-image: var(--artURL);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 35vw;
  height: 35vw;
  filter: drop-shadow(0 0 20px var(--color5));
  z-index: 9;
  /* padding: 0 50px 0 50px; */
  /* background-blend-mode: color; */
  transition: all 0.2s ease-in-out;
}

#example main #artCanvas:hover {
  filter: drop-shadow(0 0 15px var(--color1)) contrast(1.3) saturate(1.5);
}

#example main #artCanvas #colorFilter {
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  opacity: 0.85;
  border-radius: 100px;
  mix-blend-mode: hue;
  filter: blur(100px);
  transition: all 1s ease-in-out;
  opacity: 0.4;
  /* padding: 0 10px 0 10px; */
}

#example main #artCanvas #colorFilter:hover {
  z-index: 8;
  opacity: 0.2;
}

.shine {
  animation: shine 5s ease-in-out;
}

.spin {
  animation: spin 4s ease-in-out;
}

.deshine {
  animation: shine 1.5s ease-in-out;
}

@keyframes shine {
  0% {
    filter: brightness(1) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
  }
  10% {
    filter: brightness(1) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform: rotate(5deg);
    transform-origin: 0% 20%;
  }
  20% {
    filter: brightness(1.3) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform: rotate(-5deg);
    transform-origin: 0% 0%;
  }
  30% {
    filter: brightness(1.8) contrast(1.2) saturate(1.2)
      drop-shadow(0 0 0px var(--color1)) blur(0px);
    transform-origin: 0% 20%;
    transform: rotate(5deg);
  }
  40% {
    filter: brightness(2) drop-shadow(0 0 100px var(--color1)) blur(15px);
    transform: rotate(-5deg);
    transform-origin: 0% 0%;
  }
  50% {
    filter: brightness(30) drop-shadow(0 0 100px var(--color1)) blur(15px);
    transform-origin: 0% 20%;
    transform: rotate(5deg);
  }
  60% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(50px);
  }
  70% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(15px);
  }
  80% {
    filter: brightness(100) drop-shadow(0 0 10px var(--color1)) blur(50px);
  }
  90% {
    filter: brightness(100) drop-shadow(0 0 100px var(--color1)) blur(15px);
  }
  100% {
    filter: brightness(2) contrast(1.2) saturate(1.2);
  }
}

@keyframes spin {
  50% {
    filter: brightness(20) blur(50px) drop-shadow(0 0 10px #ffffff);
    transform: rotate(1860deg);
  }
}

#example #cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  z-index: 9;
  width: 100%;
  min-height: fit-content;
  padding: 50px 0 50px 0;
}

#example #cards > div {
  width: 25%;
  height: 150px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: var(--color1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

#example #cards > div:active {
  animation: shine 1s ease-in-out;
}

#example #cards div p {
  font-size: 24px;
  position: relative;
  top: calc(24px / 2);
}

#example #cards svg {
  font-size: 24px;
  position: relative;
  top: calc(24px - 80%);
  left: calc(50% - 24px);
}

#example #cards div:nth-child(1) {
  background-color: var(--color2);
  color: var(--hsp2);
}

#example #cards div:nth-child(2) {
  background-color: var(--color3);
  color: var(--hsp3);
}

#example #cards div:nth-child(3) {
  background-color: var(--color4);
  color: var(--hsp4);
}

#example #posts {
  min-height: 100px;
  z-index: 2;
}

#example footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  color: var(--hsp2);
  background-color: var(--color2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1vw;
  padding: 20px 0 20px 0;
  text-align: center;

  /* height: 80px; */
  /* opacity: 0.3; */
}

#example footer *:not(p, a) {
  font-size: 36px;
  padding: 10px;
}

#example footer #faIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#example a {
  color: var(--hsp2);
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .pokeCard {
    height: 80vh;
    border: 0px solid #121212;
    gap: 0vh;
    padding: 10vw;
    width: 80vw;
  }

  .pokeCard #buttons {
    margin-top: 20px;
  }

  .pokeCard input,
  .pokeCard #buttons button {
    font-size: 6vw;
  }

  .labelInput {
    padding-top: 20px;
  }

  #example,
  .poke {
    width: 100vw;
    position: relative;
    margin: 0;
    left: 0;
    border: 0px solid #121212;
  }

  .pokeCard .type {
    font-size: 6vw;
  }

  #example {
    margin: 0;
    padding: 0;
  }

  #example main {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: 650%;
    background-position: left;
    height: fit-content;
    gap: 0;
  }

  #example main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 50px 0 100px 0;
  }

  #example main h1 {
    font-size: 10vw;
  }

  #example main p,
  #example button,
  #example #scrollDown {
    font-size: 5vw;
  }

  #example main h1,
  #example main p {
    width: 90%;
    margin: 0 0 50px 0;
  }

  #example main #backdrop {
    width: 100%;
    height: 200vh;
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    /* display: none; */
  }

  #example main section #customButtons {
    margin: 0;
  }

  #example main #artCanvas {
    /* display: none; */
    width: 90vw;

    margin: 40px 10% 0px 10%;
    height: 90vw;
    /* padding: 10%; */
  }

  #example #cards {
    gap: 20px;
    flex-direction: column;
  }

  #example #cards div {
    width: 90%;
  }

  #example #cards div p {
    font-size: 24px;
  }

  #example #cards,
  footer {
    z-index: 9;
  }

  #example footer {
    flex-direction: column-reverse;
    gap: 0;
  }

  #example footer #faIcons {
    margin-top: 20px;
    gap: 0;
    justify-content: space-evenly;
    width: 80%;
  }

  #example footer #faIcons a {
    padding: 20px;
  }

  #example footer *:not(p, a) {
    padding: 0;
  }

  footer p {
    text-align: center;
    font-size: 22px;
    width: 80%;
  }
}
