:root {
  --color1: #f1f1f1;
  --color2: #b4de73;
  --color3: #8ba452;
  --color4: #94d59c;
  --mainDark: #18181a;
  --hsp2: #121212;
  --hsp3: #f1f1f1;
  --hsp4: #121212;
  --artURL: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/330.png");
  --bgURL: url(../public/bgDark.webp);
  --font1: carnacLight;
  --pkmnInfoBg: "rgba(255, 255, 255, 0.8)";
}
@font-face {
  font-family: carnacLight;
  src: url(fonts/Carnac-Light.otf);
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
}
.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}
.pokeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2vh;
  font-family: var(--font1);
  border-right: 4px solid var(--mainDark);
}
.pokeCard #colorBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.pokeCard #hideWhileLoading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.pokeCard .loading svg {
  animation: loading 600ms ease-in-out infinite;
  font-size: 2rem;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pokeCard .labelInput {
  position: relative;
}
.pokeCard .labelInput #shinyBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 1%;
  top: 45%;
  border: none;
  border-radius: 0 0.9rem 0.9rem 0;
  width: 15%;
  height: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  color: #121212;
  background: none;
}
.pokeCard .labelInput #shinyBtn:hover,
.pokeCard .labelInput #shinyBtn.shiny {
  opacity: 1;
  color: var(--color2);
  animation: wiggle 1s ease-in-out infinite;
}
@keyframes wiggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.example:nth-child(2n) {
  background: var(--color2);
  color: var(--hsp2);
}
.example:nth-child(2n + 1) {
  background: var(--mainDark);
  color: var(--color1);
}
.example main #customButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.example main #scrollDown {
  color: var(--hsp4);
  background-color: var(--color4);
  padding: 15px 20px 15px 20px;
  font-size: 1vw;
  margin-top: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.example main #darkMode {
  color: var(--hsp3);
  background-color: var(--color3);
  border-radius: 50px;
  padding: 13px 14px 13px 14px;
  margin: 0;
  font-size: 1.4rem;
  width: 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  transition: all 200ms ease-in-out;
}
.example main #darkMode div {
  position: absolute;
  right: 10%;
  border-radius: 50%;
  height: 65%;
  width: 2.1vw;
  background-color: var(--hsp3);
  transition: all 200ms ease-in-out;
}
.example main #darkMode.clicked div {
  right: auto;
  left: 10%;
}
.example #cards {
  background-color: var(--mainDark) !important;
}
.example #cards .colorCard {
  width: 100%;
  height: 150px;
  color: var(--color1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.example #cards .colorCard .color2::after {
  content: var(--color2word);
}
.example #cards .colorCard .color3::after {
  content: var(--color3word);
}
.example #cards .colorCard .color4::after {
  content: var(--color4word);
}
.example #cards .colorCard .color5::after {
  content: var(--color5word);
}
.example #cards .colorCard .color6::after {
  content: var(--color6word);
}
.example #cards .colorCard .color7::after {
  content: var(--color7word);
}
.example #cards .colorCard .color8::after {
  content: var(--color8word);
}
.example #cards .colorCard .color9::after {
  content: var(--color9word);
}
.example #cards .colorCard .color10::after {
  content: var(--color10word);
}
.example #cards .colorCard:nth-child(1) {
  background-color: var(--color2);
  color: var(--hsp2);
}
.example #cards .colorCard:nth-child(2) {
  background-color: var(--color3);
  color: var(--hsp3);
}
.example #cards .colorCard:nth-child(3) {
  background-color: var(--color4);
  color: var(--hsp4);
}
.example #cards .colorCard:nth-child(4) {
  background-color: var(--color5);
  color: var(--hsp5);
}
.example #cards .colorCard:nth-child(5) {
  background-color: var(--color6);
  color: var(--hsp6);
}
.example #cards .colorCard:nth-child(6) {
  background-color: var(--color7);
  color: var(--hsp7);
}
.example #cards .colorCard:nth-child(7) {
  background-color: var(--color8);
  color: var(--hsp8);
}
.example #cards .colorCard:nth-child(8) {
  background-color: var(--color9);
  color: var(--hsp9);
}
.example #cards .colorCard:nth-child(9) {
  background-color: var(--color10);
  color: var(--hsp10);
}
.example #cards #loadMore {
  font-family: "Raleway", sans-serif;
  line-height: 2;
  font-size: 2rem;
  padding: 20px 1vw;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  grid-column: 1/4;
  margin: 20px 0;
  background-color: var(--color3);
  color: var(--hsp3);
}
.example #shareWidgets {
  padding: 40px 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}
.example #shareWidgets .tweet-popup {
  top: 50%;
  left: 50%;
  width: 400px;
  box-shadow: 0 2px 10px rgba(132, 132, 132, 0.4);
  padding: 20px 2vw;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--color4);
  background: var(--hsp4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.example #shareWidgets .tweet-popup .tweetLogo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.example #shareWidgets .tweet-popup .tweet-input {
  width: 100%;
  border: 1px solid var(--hsp4);
  color: var(--hsp4);
  background: var(--anti_hsp4);
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  min-height: 200px;
  font-family: carnacLight;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Microsoft Edge */
  resize: vertical;
}
.example #shareWidgets .tweet-popup .tweet-input::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}
.example #shareWidgets .tweet-popup .tweet-button {
  background-color: var(--color3);
  color: var(--hsp3);
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: carnacLight;
}
.example #shareWidgets .tweet-popup .tweet-button:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}
.example #shareWidgets p {
  font-size: 1.2rem;
  font-family: carnacLight;
  color: var(--hsp2);
  margin: 20px 0;
}
.example #pkmnInfo {
  min-height: 400px;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  background: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 3vw;
  gap: 2vw;
}
.example #pkmnInfo .txtWrapper {
  color: var(--hsp2);
  position: relative;
  font-family: "Raleway", sans-serif;
  margin: 20px 2vw;
  max-width: 40%;
}
.example #pkmnInfo .txtWrapper h2 {
  font-size: 2.5rem;
}
.example #pkmnInfo .txtWrapper #types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  justify-content: flex-start;
}
.example #pkmnInfo .txtWrapper #types.singleType div:nth-child(2) {
  display: none;
}
.example #pkmnInfo .txtWrapper #types div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--color3);
  color: var(--hsp3);
  font-size: 1.2rem;
  font-family: carnacLight;
  text-transform: capitalize;
}
.example #pkmnInfo .txtWrapper #types div:nth-child(2) {
  background: var(--color4);
  color: var(--hsp4);
}
.example #pkmnInfo .txtWrapper p {
  font-size: 1.2rem;
  font-family: carnacLight;
}
.example #pkmnInfo .imgWrapper {
  height: 400px;
  width: 50%;
  background: var(--pkmnInfoBg);
  background-position: center;
  background-size: cover;
  z-index: 3;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}
.example #pkmnInfo .imgWrapper:hover #hiddenPkmn {
  filter: brightness(1) saturate(2);
}
.example #pkmnInfo .imgWrapper #hiddenPkmn {
  position: relative;
  background-image: var(--artURL);
  background-position: center;
  background-size: 50% auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 120%;
  z-index: 1;
  filter: brightness(0);
  transition: all 400ms ease-in-out;
}
.example #pkmnInfo .imgWrapper .colorFilter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0.5;
  z-index: 0;
  mix-blend-mode: color;
}
.example .imAd {
  background-color: var(--mainDark);
  color: var(--color1);
  padding: 40px 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  gap: 5vw;
  font-family: "Raleway", sans-serif;
}
.example .imAd > * {
  width: 50%;
  text-align: right;
}
.example .imAd #info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 0;
}
.example .imAd #info button {
  width: 100%;
}
.example .imAd h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}
.example .imAd #title {
  line-height: 2;
  font-weight: 400;
  font-size: 1.2rem;
  flex-wrap: wrap;
  word-wrap: wrap;
  display: inline;
}
.example .imAd #title #titleWords > span {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 1rem;
  line-height: 2.5;
  border-radius: 8px;
  font-weight: 700;
  margin-left: 1vw;
}
.example .imAd #title #titleWords > span:nth-child(1) {
  background: var(--color2);
  color: var(--hsp2);
}
.example .imAd #title #titleWords > span:nth-child(2) {
  background: var(--color3);
  color: var(--hsp3);
}
.example .imAd #title #titleWords > span:nth-child(3) {
  background: var(--color4);
  color: var(--hsp4);
}
.example .imAd button {
  font-family: "Raleway", sans-serif;
  color: var(--color1);
  background-color: var(--mainDark);
  display: block;
  font-size: 1.2rem;
  border: none;
  padding: 1.5rem 4vw;
  width: fit-content;
  margin: 1.4rem 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: max-content;
  border-radius: 2rem;
  animation: buttonAnimation 1s infinite;
  font-weight: 500;
  background-color: var(--color3);
  color: var(--hsp3);
}
.example .imAd button:hover {
  background-color: var(--color1);
  color: var(--mainDark);
}
.example .imAd #palette {
  border: 5px solid var(--mainDark);
  border-bottom: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.example .imAd #palette > div {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 0.5rem 1rem;
}
.example .imAd #palette > div:nth-child(1) {
  background: var(--color2);
  color: var(--hsp2);
}
.example .imAd #palette > div:nth-child(2) {
  background: var(--color3);
  color: var(--hsp3);
}
.example .imAd #palette > div:nth-child(3) {
  background: var(--color4);
  color: var(--hsp4);
}
.example .imAd #site {
  height: 380px;
  overflow: hidden;
  border: 5px solid var(--mainDark);
}
.example .imAd #site nav {
  background: var(--color3);
  height: 15%;
  box-sizing: border-box;
  padding: 10px 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.example .imAd #site nav #logo {
  height: 90%;
  width: 8%;
  background: var(--color2);
}
.example .imAd #site nav #links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.example .imAd #site nav #links > div {
  padding: 0.5rem 1rem;
  background: var(--color2);
}
.example .imAd #site nav #links > div:last-child {
  background: var(--color4);
}
.example .imAd #site main {
  background: var(--color2);
  height: 70%;
  padding: 5% 2vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.example .imAd #site main > * {
  box-sizing: border-box;
  width: 50%;
}
.example .imAd #site main #img {
  height: 100%;
  width: 50%;
  background: var(--color3);
}
.example .imAd #site main #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.example .imAd #site main #text #h1 {
  width: 100%;
  height: 20px;
  background-color: var(--color3);
}
.example .imAd #site main #text p {
  width: 50%;
  height: 20px;
  background-color: var(--color3);
}
.example .imAd #site footer {
  background: var(--color3);
  height: 15%;
  box-sizing: border-box;
  padding: 10px 1vw;
}
.example footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  background-color: var(--mainDark);
  font-family: "Raleway", sans-serif;
  color: var(--color1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1vw;
  padding: 20px 0 20px 0;
  text-align: center;
}
.example footer a {
  color: var(--color1) !important;
}
.example footer #faIcons a {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.example footer #faIcons a:hover {
  color: var(--hsp2) !important;
  background-color: var(--color2);
}
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .example,
  .poke {
    width: 100vw;
    position: relative;
  }
  .pokeCard {
    height: 80vh;
    border: 0px solid #121212;
    gap: 0vh;
    padding: 10vw;
    width: 80vw;
  }
  .pokeCard .labelInput #shinyBtn {
    top: 58%;
    right: 0;
    font-size: 1.2rem;
  }
  .pokeCard select {
    font-size: 2rem !important;
  }
  .example main #darkMode {
    width: 50%;
  }
  .example main #darkMode div {
    width: 35%;
  }
  .example #shareWidgets {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .example #shareWidgets .tweet-popup {
    width: 100%;
    padding: 20px 2vw;
  }
  .example #shareWidgets .tweet-popup .tweet-input {
    width: 90%;
  }
  .example #pkmnInfo {
    flex-direction: column;
  }
  .example #pkmnInfo .txtWrapper {
    max-width: 100%;
  }
  .example #pkmnInfo .imgWrapper {
    height: 400px;
    width: 100%;
  }
  .example .imAd {
    flex-direction: column-reverse;
    text-align: center;
  }
  .example .imAd > * {
    width: 100%;
  }
  .example .imAd #info {
    text-align: center;
    width: 100%;
  }
  .example .imAd #info #titleWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
  }
  .example .imAd #info #titleWords span {
    margin: 0;
    padding: 0 5vw;
  }
  .example .imAd #palette {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .example .imAd #palette > div {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 0.5rem 1rem;
  }
  .example .imAd #site main {
    gap: 5vw;
  }
}
