:root {
  --color1: #f1f1f1;
  --color2: #eeeeff;
  --color3: #313152;
  --color4: #bdbde6;
  --mainDark: #18181a;
  --hsp2: #121212;
  --hsp3: #f1f1f1;
  --hsp4: #121212;
  --artURL: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/12.png");
  --bgURL: url(../public/bgDark.webp);
  --font1: carnacLight;
  --pkmnInfoBg: "rgba(255, 255, 255, 0.8)";
}

@font-face {
  font-family: carnacLight;
  src: url(fonts/Carnac-Light.otf);
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bmc-btn-container {
  position: fixed;
  right: 3%;
  top: 3%;
  z-index: 1000;
  .bmc-btn {
    font-size: 1rem;
    height: fit-content;
    padding: 10px 2vw;
    justify-content: center;
    background-color: var(--color3) !important;
    color: var(--hsp3);
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-family: carnacLight !important;
    //animation - occasional wiggle every 3 sec or so
    animation: wiggleBMC 1s ease-in-out infinite;
    @keyframes wiggleBMC {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
    &:hover {
      background-color: var(--mainDark) !important;
      color: var(--color1);
    }
    span {
      line-height: 1;
      width: fit-content;
    }
  }
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
}

.flexCentered(@flexDirection) {
  display: flex;
  flex-direction: @flexDirection;
  align-items: center;
  justify-content: center;
}

.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}

.pokeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2vh;
  font-family: var(--font1);
  border-right: 4px solid var(--mainDark);
  #suggestionsWrapper {
    position: absolute;
    top: 105%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 1rem;
    .flexCentered(column);
    z-index: 2;
    background-color: var(--color3);
    border: 1px solid var(--hsp3);
    box-sizing: border-box;
    &.empty {
      display: none;
    }
    #suggestions {
      max-height: 200px;
      width: 100%;
      .suggestion {
        margin-top: 1px;
        top: 0;
        position: relative;
        width: 100%;
        border: none;
        padding: 10px 0;
        font-family: var(--font1);
        font-size: 1.2rem;
        min-height: 60px;
        cursor: pointer;
        .flexCentered(row);
        transition: all 200ms ease-in-out;
        &:hover {
          // background-color: var(--color4);
          // color: var(--hsp4);
          border-radius: 1rem;
          transform: scale(0.9);
        }
        &:first-child {
          margin-top: 0;
        }
        span {
          img {
            width: 40px;
            vertical-align: bottom;
            margin-left: 10px;
          }
        }
      }
    }
  }
  #colorBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    & > * {
      transition: all 200ms ease-in-out;
    }
  }
  #hideWhileLoading {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .loading {
    svg {
      animation: loading 600ms ease-in-out infinite;
      font-size: 2rem;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .labelInput {
    position: relative;
    #shinyBtn {
      position: absolute;
      .flexCentered(column);
      right: 1%;
      top: 45%;
      border: none;
      border-radius: 0 0.9rem 0.9rem 0;
      width: 15%;
      height: 2rem;
      cursor: pointer;
      font-size: 1.4rem;

      overflow: hidden;
      transition: all 200ms ease-in-out;
      color: #121212;
      background: none;
      &:hover,
      &.shiny {
        opacity: 1;
        color: var(--color2);
        animation: wiggle 1s ease-in-out infinite;
      }
      @keyframes wiggle {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}

.example {
  &:nth-child(2n) {
    background: var(--color2);
    color: var(--hsp2);
  }
  &:nth-child(2n + 1) {
    background: var(--mainDark);
    color: var(--color1);
  }
  main {
    #customButtons {
      .flexCentered(row);
      width: fit-content;
    }
    #scrollDown {
      color: var(--hsp4);
      background-color: var(--color4);
      padding: 15px 20px 15px 20px;
      font-size: 1vw;
      margin-top: 0px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
    #darkMode {
      color: var(--hsp3);
      background-color: var(--color3);
      border-radius: 50px;
      padding: 13px 14px 13px 14px;
      margin: 0;
      font-size: 1.4rem;
      width: 6vw;
      .flexCentered(row);
      justify-content: space-between;
      position: relative;
      transition: all 200ms ease-in-out;
      div {
        position: absolute;
        right: 10%;
        border-radius: 50%;
        height: 65%;
        width: 2.1vw;
        background-color: var(--hsp3);
        transition: all 200ms ease-in-out;
      }
      &.clicked {
        div {
          right: auto;
          left: 10%;
        }
      }
    }
  }
  #cards {
    background-color: var(--mainDark) !important;
    .colorCard {
      width: 100%;
      height: 150px;
      color: var(--color1);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      &.hidden {
        display: none;
      }
      .color2::after {
        content: var(--color2word);
      }
      .color3::after {
        content: var(--color3word);
      }
      .color4::after {
        content: var(--color4word);
      }
      .color5::after {
        content: var(--color5word);
      }
      .color6::after {
        content: var(--color6word);
      }
      .color7::after {
        content: var(--color7word);
      }
      .color8::after {
        content: var(--color8word);
      }
      .color9::after {
        content: var(--color9word);
      }
      .color10::after {
        content: var(--color10word);
      }
      &:nth-child(1) {
        background-color: var(--color2);
        color: var(--hsp2);
      }
      &:nth-child(2) {
        background-color: var(--color3);
        color: var(--hsp3);
      }
      &:nth-child(3) {
        background-color: var(--color4);
        color: var(--hsp4);
      }
      &:nth-child(4) {
        background-color: var(--color5);
        color: var(--hsp5);
      }
      &:nth-child(5) {
        background-color: var(--color6);
        color: var(--hsp6);
      }
      &:nth-child(6) {
        background-color: var(--color7);
        color: var(--hsp7);
      }
      &:nth-child(7) {
        background-color: var(--color8);
        color: var(--hsp8);
      }
      &:nth-child(8) {
        background-color: var(--color9);
        color: var(--hsp9);
      }
      &:nth-child(9) {
        background-color: var(--color10);
        color: var(--hsp10);
      }
    }
    #loadMore {
      font-family: "Raleway", sans-serif;
      line-height: 2;
      font-size: 2rem;
      padding: 20px 1vw;
      border-radius: 12px;
      text-align: center;
      cursor: pointer;
      grid-column: 1/4;
      margin: 20px 0;
      // border: 1px solid var(--hsp2);
      background-color: var(--color3);
      color: var(--hsp3);
    }
  }
  #shareWidgets {
    padding: 40px 3vw;
    .flexCentered(row-reverse);
    gap: 6vw;
    .tweet-popup {
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 20px 2vw;
      border-radius: 16px;
      box-sizing: border-box;
      background-color: var(--color4);
      background: var(--hsp4);
      .flexCentered(column);
      .tweetLogo {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      .tweet-input {
        width: 100%;
        border: 1px solid var(--hsp4);
        color: var(--hsp4);
        background: var(--anti_hsp4);
        border-radius: 8px;
        padding: 10px;
        font-size: 16px;
        min-height: 200px;
        font-family: carnacLight;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, and Opera */
        }
        resize: vertical;
      }
      .tweet-button {
        background-color: var(--color3);
        color: var(--hsp3);
        align-self: flex-end;
        border: none;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        font-family: carnacLight;
        &:hover {
          filter: brightness(1.2);
          transform: scale(1.1);
        }
      }
    }

    p {
      font-size: 1.2rem;
      font-family: carnacLight;
      color: var(--hsp2);
      margin: 20px 0;
    }
  }
  #pkmnInfo {
    min-height: 400px;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    background: var(--color2);
    .flexCentered(row);
    padding: 40px 3vw;
    gap: 2vw;
    .txtWrapper {
      color: var(--hsp2);
      position: relative;
      font-family: "Raleway", sans-serif;
      margin: 20px 2vw;
      max-width: 40%;
      h2 {
        font-size: 2.5rem;
      }
      #types {
        .flexCentered(row);
        gap: 2vw;
        justify-content: flex-start;
        &.singleType {
          div:nth-child(2) {
            display: none;
          }
        }
        div {
          .flexCentered(row);
          gap: 1vw;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          background: var(--color3);
          color: var(--hsp3);
          font-size: 1.2rem;
          font-family: carnacLight;
          text-transform: capitalize;
          &:nth-child(2) {
            background: var(--color4);
            color: var(--hsp4);
          }
        }
      }
      p {
        font-size: 1.2rem;
        font-family: carnacLight;
      }
    }
    .imgWrapper {
      height: 400px;
      width: 50%;
      background: var(--pkmnInfoBg);
      background-position: center;
      background-size: cover;
      z-index: 3;
      border-radius: 1rem;
      //   border: 1px solid var(--hsp2);
      position: relative;
      overflow: hidden;
      .flexCentered(column);
      z-index: 0;
      position: relative;
      &:hover {
        #hiddenPkmn {
          filter: brightness(1) saturate(2);
        }
      }
      #hiddenPkmn {
        position: relative;
        background-image: var(--artURL);
        background-position: center;
        background-size: 50% auto;
        background-repeat: no-repeat;
        height: 100%;
        width: 120%;
        z-index: 1;
        filter: brightness(0);
        transition: all 400ms ease-in-out;
      }
      .colorFilter {
        // background: var(--color2);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        opacity: 0.5;
        z-index: 0;
        mix-blend-mode: color;
      }
    }
  }
  .imAd {
    background-color: var(--mainDark);
    color: var(--color1);
    padding: 40px 4vw;
    .flexCentered(row);
    justify-content: space-evenly;
    gap: 5vw;
    font-family: "Raleway", sans-serif;
    & > * {
      width: 50%;
      text-align: right;
    }
    #info {
      .flexCentered(column);
      width: 60%;
      gap: 0;
      button {
        width: 100%;
      }
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.5;
      margin: 0;
    }
    #title {
      line-height: 2;
      font-weight: 400;
      font-size: 1.2rem;
      flex-wrap: wrap;
      word-wrap: wrap;
      display: inline;
      #titleWords > span {
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        padding: 0.5rem 1rem;
        line-height: 2.5;
        border-radius: 8px;
        font-weight: 700;
        margin-left: 1vw;
        &:nth-child(1) {
          background: var(--color2);
          color: var(--hsp2);
        }
        &:nth-child(2) {
          background: var(--color3);
          color: var(--hsp3);
        }
        &:nth-child(3) {
          background: var(--color4);
          color: var(--hsp4);
        }
      }
    }
    button {
      font-family: "Raleway", sans-serif;
      color: var(--color1);
      background-color: var(--mainDark);
      display: block;
      font-size: 1.2rem;
      border: none;
      padding: 1.5rem 4vw;
      width: fit-content;
      margin: 1.4rem 0;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      width: max-content;
      border-radius: 2rem;
      animation: buttonAnimation 1s infinite;
      font-weight: 500;
      background-color: var(--color3);
      color: var(--hsp3);
      // @keyframes buttonAnimation {
      //   0% {
      //     filter: drop-shadow(-5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      //   50% {
      //     filter: drop-shadow(5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(-5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      //   100% {
      //     filter: drop-shadow(-5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      // }
      &:hover {
        background-color: var(--color1);
        color: var(--mainDark);
      }
    }
    #palette {
      border: 5px solid var(--mainDark);
      border-bottom: none;
      .flexCentered(row);
      & > div {
        width: 100%;
        height: 20px;
        .flexCentered(row);
        gap: 1vw;
        padding: 0.5rem 1rem;
        &:nth-child(1) {
          background: var(--color2);
          color: var(--hsp2);
        }
        &:nth-child(2) {
          background: var(--color3);
          color: var(--hsp3);
        }
        &:nth-child(3) {
          background: var(--color4);
          color: var(--hsp4);
        }
      }
    }
    #site {
      height: 380px;
      overflow: hidden;
      border: 5px solid var(--mainDark);
      nav {
        background: var(--color3);
        height: 15%;
        box-sizing: border-box;
        padding: 10px 1vw;
        .flexCentered(row);
        justify-content: space-between;
        #logo {
          height: 90%;
          width: 8%;
          background: var(--color2);
          // border-radius: 50%;
          // border: 2px solid var(--hsp2);
        }
        #links {
          .flexCentered(row);
          gap: 1vw;
          & > div {
            padding: 0.5rem 1rem;
            background: var(--color2);
            &:last-child {
              background: var(--color4);
              // border: 2px solid var(--hsp4);
            }
          }
        }
      }
      main {
        background: var(--color2);
        height: 70%;
        padding: 5% 2vw;
        box-sizing: border-box;
        .flexCentered(row);
        & > * {
          box-sizing: border-box;
          width: 50%;
        }
        #img {
          height: 100%;
          width: 50%;
          background: var(--color3);
        }
        #text {
          .flexCentered(column);
          #h1 {
            width: 100%;
            height: 20px;
            background-color: var(--color3);
          }
          p {
            width: 50%;
            height: 20px;
            background-color: var(--color3);
          }
        }
      }
      footer {
        background: var(--color3);
        height: 15%;
        box-sizing: border-box;
        padding: 10px 1vw;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    // color: var(--hsp2);
    // background-color: var(--color2);
    background-color: var(--mainDark);
    font-family: "Raleway", sans-serif;
    color: var(--color1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1vw;
    padding: 20px 0 20px 0;
    text-align: center;
    a {
      color: var(--color1) !important;
    }
    #faIcons {
      a {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        border-radius: 8px;
        .flexCentered(row);
        &:hover {
          color: var(--hsp2) !important;
          background-color: var(--color2);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bmc-btn-container {
    right: 50%;
    transform: translateX(50%);
  }

  .App {
    flex-direction: column;
  }

  .example,
  .poke {
    width: 100vw;
    position: relative;
  }

  .pokeCard {
    height: 80vh;
    border: 0px solid #121212;
    gap: 0vh;
    padding: 10vw;
    width: 80vw;
    canvas {
      width: 50%;
      image-rendering: pixelated;
    }
    #suggestionsWrapper {
      &::-webkit-scrollbar {
        // width: 0px;
      }
      #suggestions {
        max-height: 30vh;
      }
    }
    .labelInput {
      #shinyBtn {
        top: 58%;
        right: 0;
        font-size: 1.2rem;
      }
    }
    select {
      font-size: 1.2rem !important;
    }
  }
  .example {
    main {
      #darkMode {
        width: 50%;
        // font-size: 1.2rem;
        // padding: 1rem 0;
        div {
          width: 35%;
          // height: 0%;
        }
      }
    }
    #cards {
      #loadMore {
        font-size: 1.2rem;
      }
    }
    #shareWidgets {
      .flexCentered(column-reverse);
      gap: 40px;
      .tweet-popup {
        width: 100%;
        padding: 20px 2vw;
        .tweet-input {
          width: 90%;
        }
      }
    }
    #pkmnInfo {
      flex-direction: column;
      .txtWrapper {
        max-width: 100%;
      }
      .imgWrapper {
        height: 400px;
        width: 100%;
        #hiddenPkmn {
          background-size: 100% auto;
        }
      }
    }
    .imAd {
      flex-direction: column-reverse;
      text-align: center;
      & > * {
        width: 100%;
      }
      #info {
        text-align: left;
        width: 100%;
        #titleWords {
          .flexCentered(column);
          align-items: flex-start;
          margin: 20px 0;
          gap: 20px;
          span {
            margin: 0;
            padding: 0 5vw;
          }
        }
      }
      #palette {
        .flexCentered(row);
        & > div {
          width: 100%;
          height: 20px;
          .flexCentered(row);
          gap: 1vw;
          padding: 0.5rem 1rem;
        }
      }
      #site {
        main {
          gap: 5vw;
        }
      }
    }
  }
}
