:root {
  --color1: #f1f1f1;
  --color2: #f1f1f1;
  --color3: #f1f1f1;
  --color4: #f1f1f1;
  --mainDark: #18181a;
  --hsp2: #121212;
  --hsp3: #121212;
  --hsp4: #121212;
  --artURL: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/937.png");
  --bgURL: url(../public/bgDark.webp);
  --font1: carnacLight;
  --pkmnInfoBg: "rgba(255, 255, 255, 0.8)";
}

@color2: var(--color2);
@color3: var(--color3);
@color4: var(--color4);

@font-face {
  font-family: carnacLight;
  src: url(fonts/Carnac-Light.otf);
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bmc-btn-container {
  position: fixed;
  right: 3%;
  top: 3%;
  z-index: 1000;
  &.game {
    position: absolute;
    height: 100px;
    width: 100px;
    .bmc-btn {
    }
  }
  .bmc-btn {
    font-size: 1rem;
    height: fit-content;
    padding: 10px 2vw;
    justify-content: center;
    background-color: var(--color3) !important;
    color: var(--hsp3);
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-family: carnacLight !important;
    //animation - occasional wiggle every 3 sec or so
    animation: wiggleBMC 1s ease-in-out infinite;
    @keyframes wiggleBMC {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
    &:hover {
      background-color: var(--mainDark) !important;
      color: var(--color1);
    }
    span {
      line-height: 1;
      width: fit-content;
    }
  }
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
}

.flexCentered(@flexDirection) {
  display: flex;
  flex-direction: @flexDirection;
  align-items: center;
  justify-content: center;
}

.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}

.pokeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2vh;
  font-family: var(--font1);
  border-right: 4px solid var(--mainDark);
  canvas {
    image-rendering: pixelated;
  }
  #logo {
    #pokeball {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 2rem;
      left: 43%;
      background: radial-gradient(
        circle,
        #000000 0%,
        #000000 70%,
        #00000000 70%,
        #00000000 100%
      );
      transform: rotate(45deg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
      &.animated {
        animation: pokeball 2s ease-in-out 1;
      }
      @keyframes pokeball {
        0% {
          transform: rotate(45deg);
        }
        100% {
          transform: rotate(calc(45deg + 4 * 360deg));
        }
      }
      #pokeballMiddle {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        position: absolute;
        border: 3px solid #000000;
        z-index: 2;
      }
      #pokeballTop {
        background: linear-gradient(
          90deg,
          var(--color2) 0%,
          var(--color2) 33%,
          var(--color3) 33%,
          var(--color3) 66%,
          var(--color4) 66%,
          var(--color4) 100%
        );
        height: 100%;
        width: 100%;
        transform: translateY(-5%);
        z-index: 1;
      }
      #pokeballBottom {
        background: linear-gradient(
          90deg,
          #ffffff 0%,
          #ffffff 33%,
          #e7e7e7 33%,
          #e7e7e7 66%,
          #c7c7c7 66%,
          #c7c7c7 100%
        );
        height: 100%;
        width: 100%;
        z-index: 0;
        transform: translateY(5%);
      }
    }
  }
  #suggestionsWrapper {
    position: absolute;
    top: 105%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 1rem;
    .flexCentered(column);
    z-index: 2;
    background-color: var(--color3);
    border: 1px solid var(--hsp3);
    box-sizing: border-box;
    &.empty {
      display: none;
    }
    #suggestions {
      max-height: 200px;
      width: 100%;
      .suggestion {
        margin-top: 1px;
        top: 0;
        position: relative;
        width: 100%;
        border: none;
        padding: 10px 0;
        font-family: var(--font1);
        font-size: 1.2rem;
        min-height: 60px;
        cursor: pointer;
        .flexCentered(row);
        transition: all 200ms ease-in-out;
        &:hover {
          // background-color: var(--color4);
          // color: var(--hsp4);
          border-radius: 1rem;
          transform: scale(0.9);
        }
        &:first-child {
          margin-top: 0;
        }
        span {
          img {
            width: 40px;
            vertical-align: bottom;
            margin-left: 10px;
          }
        }
      }
    }
  }
  #colorBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    & > * {
      transition: all 200ms ease-in-out;
    }
  }
  #hideWhileLoading {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .loading {
    svg {
      animation: loading 600ms ease-in-out infinite;
      font-size: 2rem;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .labelInput {
    position: relative;
    #shinyBtn {
      position: absolute;
      .flexCentered(column);
      right: 1%;
      top: 45%;
      border: none;
      border-radius: 0 0.9rem 0.9rem 0;
      width: 15%;
      height: 2rem;
      cursor: pointer;
      font-size: 1.4rem;
      overflow: hidden;
      transition: all 200ms ease-in-out;
      color: #121212;
      background: none;
      &:hover,
      &.shiny {
        opacity: 1;
        color: var(--color2);
        animation: wiggle 1s ease-in-out infinite;
      }
      @keyframes wiggle {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
    input {
      &::placeholder {
        text-transform: none;
        opacity: 0.5;
        font-size: 1.1rem;
        transform: translateY(-0.2rem);
      }
    }
  }
  .tag {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    --colorTag: color-mix(in oklab, var(--color3), var(--mainDark));
    background-color: var(--colorTag);
    color: #f1f1f1;
    font-family: var(--font1);
    z-index: 1;
    margin: 0;
    min-height: 1.2rem;
    font-weight: 600;
    &.empty {
      visibility: hidden;
    }
  }
}

#example {
  &:nth-child(2n + 1) {
    background: var(--color2);
    color: var(--hsp2);
  }
  &:nth-child(2n) {
    background: var(--mainDark);
    color: var(--color1);
  }
}

.example {
  main {
    #customButtons {
      .flexCentered(row);
      width: fit-content;
      button {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    h1 {
      font-weight: 1000;
    }
    #scrollDown {
      color: var(--hsp4);
      background-color: var(--color4);
      padding: 15px 20px 15px 20px;
      font-size: 1vw;
      margin-top: 0px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
    #darkMode {
      color: var(--color1);
      background-color: var(--mainDark);
      border-radius: 50px;
      padding: 13px 14px 13px 14px;
      margin: 0;
      font-size: 1rem;
      width: fit-content;
      border: 2px solid var(--hsp2);
      font-weight: 1000;
      .flexCentered(row);
      gap: 1vw;
      justify-content: space-between;
      position: relative;
      transition: all 200ms ease-in-out;
    }
  }
  #cards {
    background-color: var(--mainDark) !important;
    .colorCard {
      width: 100%;
      height: 150px;
      color: var(--color1);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      &.hidden {
        display: none;
      }
      .color2::after {
        content: var(--color2word);
      }
      .color3::after {
        content: var(--color3word);
      }
      .color4::after {
        content: var(--color4word);
      }
      .color5::after {
        content: var(--color5word);
      }
      .color6::after {
        content: var(--color6word);
      }
      .color7::after {
        content: var(--color7word);
      }
      .color8::after {
        content: var(--color8word);
      }
      .color9::after {
        content: var(--color9word);
      }
      .color10::after {
        content: var(--color10word);
      }
      &:nth-child(1) {
        background-color: var(--color2);
        color: var(--hsp2);
      }
      &:nth-child(2) {
        background-color: var(--color3);
        color: var(--hsp3);
      }
      &:nth-child(3) {
        background-color: var(--color4);
        color: var(--hsp4);
      }
      &:nth-child(4) {
        background-color: var(--color5);
        color: var(--hsp5);
      }
      &:nth-child(5) {
        background-color: var(--color6);
        color: var(--hsp6);
      }
      &:nth-child(6) {
        background-color: var(--color7);
        color: var(--hsp7);
      }
      &:nth-child(7) {
        background-color: var(--color8);
        color: var(--hsp8);
      }
      &:nth-child(8) {
        background-color: var(--color9);
        color: var(--hsp9);
      }
      &:nth-child(9) {
        background-color: var(--color10);
        color: var(--hsp10);
      }
    }
    #loadMore {
      font-family: "Raleway", sans-serif;
      line-height: 2;
      font-size: 2rem;
      padding: 20px 1vw;
      border-radius: 12px;
      text-align: center;
      cursor: pointer;
      grid-column: 1/4;
      margin: 20px 0;
      // border: 1px solid var(--hsp2);
      background-color: var(--color3);
      color: var(--hsp3);
    }
  }
  #shareWidgets {
    padding: 40px 3vw;
    .flexCentered(row-reverse);
    gap: 6vw;
    background-color: var(--mainDark);
    color: var(--color1);
    .tweet-popup {
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 20px 2vw;
      border-radius: 16px;
      box-sizing: border-box;
      background: var(--color1);
      .flexCentered(column);
      .tweetLogo {
        width: 2rem;
        height: auto;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      .tweet-input {
        width: 100%;
        border: 1px solid var(--hsp4);
        color: var(--hsp4);
        background: var(--anti_hsp4);
        border-radius: 8px;
        padding: 10px;
        font-size: 16px;
        min-height: 200px;
        font-family: carnacLight;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, and Opera */
        }
        resize: vertical;
      }
      .tweet-button {
        background-color: var(--color3);
        color: var(--hsp3);
        align-self: flex-end;
        border: none;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        font-family: carnacLight;
        &:hover {
          filter: brightness(1.2);
          transform: scale(1.1);
        }
      }
    }

    p {
      font-size: 1.2rem;
      font-family: carnacLight;
      margin: 20px 0;
    }
  }
  #pkmnInfo {
    min-height: 400px;
    height: fit-content;
    min-height: 11rem;
    position: relative;
    box-sizing: border-box;
    background: var(--color2);
    .flexCentered(row);
    padding: 40px 3vw;
    gap: 2vw;
    .txtWrapper {
      color: var(--hsp2);
      position: relative;
      font-family: "Raleway", sans-serif;
      margin: 20px 2vw;
      width: 40%;
      h2 {
        font-size: 2.5rem;
      }
      #types {
        .flexCentered(row);
        gap: 2vw;
        justify-content: flex-start;
        &.singleType {
          div:nth-child(2) {
            display: none;
          }
        }
        div {
          .flexCentered(row);
          gap: 1vw;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          background: var(--color3);
          color: var(--hsp3);
          font-size: 1.2rem;
          font-family: carnacLight;
          text-transform: capitalize;
          &:nth-child(2) {
            background: var(--color4);
            color: var(--hsp4);
          }
        }
      }
      #descriptionTxt {
        min-height: 9rem;
        .flexCentered(column);
      }
      p {
        font-size: 1.2rem;
        font-family: carnacLight;
      }
      #flavorTxtNav {
        p {
          padding: 1rem 2rem;
          border-radius: 1rem;
          background-color: @color3;
          color: var(--hsp3);
          width: fit-content;
          font-weight: 1000;
          border: 2px solid var(--hsp2);
          &.red {
            background-color: #ff1111;
            color: #121212;
          }
          &.blue {
            background-color: #1111ff;
            color: #ffffff;
          }
          &.yellow {
            background-color: #ffd733;
            color: #121212;
          }
          &.gold {
            background-color: #daa520;
            color: #121212;
          }
          &.silver {
            background-color: #c0c0c0;
            color: #121212;
          }
          &.crystal {
            background-color: #4fd9ef;
            color: #121212;
          }
          &.ruby {
            background-color: #a00000;
            color: #ffffff;
          }
          &.sapphire {
            background-color: #0000a0;
            color: #ffffff;
          }
          &.emerald {
            background-color: #00a000;
            color: #ffffff;
          }
          &.firered {
            background-color: #ff7327;
            color: #121212;
          }
          &.leafgreen {
            background-color: #73ff27;
            color: #121212;
          }
          &.diamond {
            background-color: #aaaaff;
            color: #121212;
          }
          &.pearl {
            background-color: #ffaaaa;
            color: #121212;
          }
          &.platinum {
            background-color: #999999;
            color: #121212;
          }
          &.heartgold {
            background-color: #eda72e;
            color: #121212;
          }
          &.soulsilver {
            background-color: #aeb7c2;
            color: #121212;
          }
          &.black,
          &.black-2 {
            background-color: #151515;
            color: #ffffff;
          }
          &.white,
          &.white-2 {
            background-color: #f1f1f1;
            color: #121212;
          }
          &.x {
            background-color: #025da6;
            color: #ffffff;
          }
          &.y {
            background-color: #ea1a3e;
            color: #ffffff;
          }
          &.omega-ruby {
            background-color: #ab2813;
            color: #ffffff;
          }
          &.alpha-sapphire {
            background-color: #26649c;
            color: #ffffff;
          }
          &.sun {
            background-color: #f1912b;
            color: #121212;
          }
          &.moon {
            background-color: #5599ca;
            color: #121212;
          }
          &.ultra-sun {
            background-color: #e95b2b;
            color: #121212;
          }
          &.ultra-moon {
            background-color: #226db5;
            color: #121212;
          }
          &.lets-go-pikachu {
            background-color: #f5da26;
            color: #121212;
          }
          &.lets-go-eevee {
            background-color: #d4924b;
            color: #121212;
          }
          &.sword {
            background-color: #00a1e9;
            color: #121212;
          }
          &.shield {
            background-color: #bf004f;
            color: #121212;
          }
          &.legends-arceus {
            background-color: #36597b;
            color: #ffffff;
          }
          &.scarlet {
            background-color: #f34134;
            color: #ffffff;
          }
          &.violet {
            background-color: #8334b7;
            color: #ffffff;
          }
        }
        button {
          margin-top: 0;
          &[disabled] {
            opacity: 0.5;
            cursor: auto;
          }
        }
      }
    }
    .imgWrapper {
      height: 400px;
      width: 50%;
      background: var(--color3);
      background-position: center;
      background-size: cover;
      z-index: 3;
      border-radius: 1rem;
      //   border: 1px solid var(--hsp2);
      position: relative;
      overflow: hidden;
      .flexCentered(column);
      z-index: 0;
      position: relative;
      &:hover {
        #hiddenPkmn {
          filter: brightness(1) saturate(2);
        }
      }
      #hiddenPkmn {
        position: relative;
        // background-image: var(--artURL);
        background-position: center;
        background-size: 50% auto;
        background-repeat: no-repeat;
        height: 100%;
        width: 120%;
        z-index: 1;
        filter: brightness(0);
        transition: all 400ms ease-in-out;
      }
      .colorFilter {
        // background: var(--color2);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        opacity: 0.5;
        z-index: 0;
        mix-blend-mode: color;
      }
      #pkmnCry {
        width: 100%;
        background-color: #f1f3f4;
      }
    }
  }
  .imAd {
    background-color: var(--mainDark);
    color: var(--color1);
    padding: 40px 4vw;
    .flexCentered(row);
    justify-content: space-evenly;
    gap: 5vw;
    font-family: "Raleway", sans-serif;
    & > * {
      width: 50%;
      text-align: right;
    }
    #info {
      .flexCentered(column);
      width: 60%;
      gap: 0;
      button {
        width: 100%;
      }
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.5;
      margin: 0;
    }
    #title {
      line-height: 2;
      font-weight: 400;
      font-size: 1.2rem;
      flex-wrap: wrap;
      word-wrap: wrap;
      display: inline;
      #titleWords > span {
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        padding: 0.5rem 1rem;
        line-height: 2.5;
        border-radius: 8px;
        font-weight: 700;
        margin-left: 1vw;
        &:nth-child(1) {
          background: var(--color2);
          color: var(--hsp2);
        }
        &:nth-child(2) {
          background: var(--color3);
          color: var(--hsp3);
        }
        &:nth-child(3) {
          background: var(--color4);
          color: var(--hsp4);
        }
      }
    }
    button {
      font-family: "Raleway", sans-serif;
      color: var(--color1);
      background-color: var(--mainDark);
      display: block;
      font-size: 1.2rem;
      border: none;
      padding: 1.5rem 4vw;
      width: fit-content;
      margin: 1.4rem 0;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      width: max-content;
      border-radius: 2rem;
      animation: buttonAnimation 1s infinite;
      font-weight: 500;
      background-color: var(--color3);
      color: var(--hsp3);
      // @keyframes buttonAnimation {
      //   0% {
      //     filter: drop-shadow(-5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      //   50% {
      //     filter: drop-shadow(5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(-5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      //   100% {
      //     filter: drop-shadow(-5px 5px 0 rgba(0, 255, 255, 0.84))
      //       drop-shadow(5px -5px 0 rgba(255, 0, 0, 0.506));
      //   }
      // }
      &:hover {
        background-color: var(--color1);
        color: var(--mainDark);
      }
    }
    #palette {
      border: 5px solid var(--mainDark);
      border-bottom: none;
      .flexCentered(row);
      & > div {
        width: 100%;
        height: 20px;
        .flexCentered(row);
        gap: 1vw;
        padding: 0.5rem 1rem;
        &:nth-child(1) {
          background: var(--color2);
          color: var(--hsp2);
        }
        &:nth-child(2) {
          background: var(--color3);
          color: var(--hsp3);
        }
        &:nth-child(3) {
          background: var(--color4);
          color: var(--hsp4);
        }
      }
    }
    #site {
      height: 380px;
      overflow: hidden;
      border: 5px solid var(--mainDark);
      nav {
        background: var(--color3);
        height: 15%;
        box-sizing: border-box;
        padding: 10px 1vw;
        .flexCentered(row);
        justify-content: space-between;
        #logo {
          height: 90%;
          width: 8%;
          background: var(--color2);
          // border-radius: 50%;
          // border: 2px solid var(--hsp2);
        }
        #links {
          .flexCentered(row);
          gap: 1vw;
          & > div {
            padding: 0.5rem 1rem;
            background: var(--color2);
            &:last-child {
              background: var(--color4);
              // border: 2px solid var(--hsp4);
            }
          }
        }
      }
      main {
        background: var(--color2);
        height: 70%;
        padding: 5% 2vw;
        box-sizing: border-box;
        .flexCentered(row);
        & > * {
          box-sizing: border-box;
          width: 50%;
        }
        #img {
          height: 100%;
          width: 50%;
          background: var(--color3);
        }
        #text {
          .flexCentered(column);
          #h1 {
            width: 100%;
            height: 20px;
            background-color: var(--color3);
          }
          p {
            width: 50%;
            height: 20px;
            background-color: var(--color3);
          }
        }
      }
      footer {
        // background: var(--color3);
        height: 15%;
        box-sizing: border-box;
        padding: 10px 1vw;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    font-family: "Raleway", sans-serif;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1vw;
    padding: 20px 0 20px 0;
    text-align: center;
    a {
      // color: var(--color1) !important;
    }
    #faIcons {
      a {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        border-radius: 8px;
        .flexCentered(row);
        &:hover {
          color: var(--color2) !important;
          background-color: var(--hsp2);
        }
      }
    }
  }
}

.Game {
  background-color: var(--mainDark);
  color: var(--color1);
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 6vw;
  .flexCentered(column);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  .palette {
    // .flexCentered(column);
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 100%;
    // height: 100px;
    border-radius: 1rem;
    overflow: hidden;
    .color {
      width: 100%;
      height: 120px;
      .flexCentered(row);
      &#color3 {
        // display: ;
      }
      .gen {
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        padding: 0.5rem 1rem;
        font-weight: 700;
        margin: 0;
        width: fit-content;
        border-radius: 8px 0;
        border: 2px solid var(--mainDark);
        background-color: var(--mainDark);
        color: var(--color1);
        .flexCentered(column);
        align-self: flex-start;
        margin-right: auto;
        gap: 0;
        p {
          margin: 0;
        }
      }
      img {
        width: 50%;
        image-rendering: pixelated;
        z-index: 2;
        &.sillhouette {
          filter: brightness(0);
        }
        &.gameover {
          width: 100%;
        }
        &.type {
          align-self: flex-end;
          width: 50%;
          max-width: 30%;
          bottom: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
  .inputWrapper {
    .flexCentered(row);
    gap: 1vw;
    width: 100%;
    padding: 1rem 2vw;
    box-sizing: border-box;
    position: relative;
    input {
      width: 100%;
      padding: 1rem 2vw;
      border-radius: 8px;
      border: 2px solid var(--hsp2);
      font-size: 1.2rem;
      font-family: "Raleway", sans-serif;
      color: var(--hsp2);
      &::placeholder {
        color: var(--hsp2);
        opacity: 0.5;
      }
    }
    #suggestionsWrapper {
      position: absolute;
      top: 100%;
      width: 90%;
      overflow-y: scroll;
      border-radius: 1rem;
      .flexCentered(column);
      z-index: 2;
      border: 1px solid var(--hsp3);
      box-sizing: border-box;
      &.empty {
        display: none;
      }
      #suggestions {
        max-height: 200px;
        width: 100%;
        .suggestion {
          margin-top: 1px;
          top: 0;
          position: relative;
          width: 100%;
          border: none;
          padding: 10px 0;
          font-family: var(--font1);
          font-size: 1.2rem;
          min-height: 60px;
          cursor: pointer;
          .flexCentered(row);
          transition: all 200ms ease-in-out;
          &:hover {
            border-radius: 1rem;
            transform: scale(0.9);
          }
          &:first-child {
            margin-top: 0;
          }
          span {
            img {
              width: 40px;
              vertical-align: bottom;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .gameModes {
    .flexCentered(row);
    border: 2px solid var(--color1);
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--color1);
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    button {
      padding: 1rem 2vw;
      font-size: 1.2rem;
      border: none;
      font-family: "Raleway", sans-serif;
      // color: var(--color1);
      // background-color: var(--mainDark);
      cursor: pointer;
      transition: all 200ms ease-in-out;
      width: 50%;
      box-sizing: border-box;
      height: 100%;
      &:hover {
        background-color: var(--color3);
        color: var(--hsp3);
      }
    }
    &.normal {
      button:nth-child(1) {
        background-color: #055c1c;
        color: var(--hsp3);
      }
    }
    &.shiny {
      button:nth-child(2) {
        background-color: #055c1c;
        color: var(--hsp3);
      }
    }
    &.hard {
      button:nth-child(3) {
        background-color: var(--color3);
        color: var(--hsp3);
      }
    }
  }
  .giveUp {
    .flexCentered(row);
    gap: 1vw;
    padding: 1rem 2vw;
    margin: 2rem auto;
    box-sizing: border-box;
    align-self: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    color: #c13333;
    border: 2px solid #c13333;
    border-radius: 8px;
    background: transparent;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #c13333;
      color: var(--color1);
      border: none;
    }
  }
  .popupWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    &.hidden {
      display: none;
    }
    .backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
  }
  dialog[open] {
    .flexCentered(column);
    gap: 4vw;
    top: 50%;
    transform: translateY(-60%);
    width: 80%;
    box-sizing: border-box;
    padding: 2rem 4vw;
    border-radius: 2rem;
    z-index: 2;
    border: none;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
    .confetti {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;
      opacity: 0.2;
    }
    h2 {
      text-align: center
    };
    .buttons {
      .flexCentered(row);
      gap: 2vw;
      width: 100%;
      button {
        width: 100%;
        &.yes {
        }
        &.no {
          background-color: #ffffff;
          color: #c13333;
          border: 1px solid #c13333;
        }
      }
    }
    a {
      width: 90%;
      text-align: center;
      padding: 1rem 2vw;
      border-radius: 8px;
      font-size: 1.2rem;
      font-family: "Raleway", sans-serif;
      color: var(--mainDark);
      background-color: #fff;
      // border: 1px solid var(--mainDark);
      text-decoration: none;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      animation: buttonAnimation 1s infinite;
      display: flex;
      z-index: 2;
      @keyframes buttonAnimation {
        0% {
          box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
      }
      50% {
          box-shadow: 0 0 0 10px rgba(0,0,0,.8);
      }
      100% {
          box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
      }
      }
      &:hover {
        background-color: var(--color2);
        color: var(--hsp2);
      }
    }
    button {
      z-index: 2;
      padding: 1rem 2vw;
      font-size: 1.2rem;
      border: none;
      font-family: "Raleway", sans-serif;
      color: var(--color1);
      background-color: var(--color3);
      cursor: pointer;
      transition: all 200ms ease-in-out;
      width: 50%;
      box-sizing: border-box;
      border-radius: 8px;
    }
    .pokemon {
      width: 50%;
      z-index: 2;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    }
  }
}

@media screen and (max-width: 768px) {
  .bmc-btn-container {
    right: 50%;
    transform: translateX(50%);
  }

  .App {
    flex-direction: column;
  }

  .example,
  .poke {
    width: 100vw;
    position: relative;
  }

  .pokeCard {
    height: 80vh;
    border: 0px solid #121212;
    gap: 0vh;
    padding: 10vw;
    width: 80vw;
    canvas {
      width: 50%;
      image-rendering: pixelated;
    }
    #suggestionsWrapper {
      &::-webkit-scrollbar {
        // width: 0px;
      }
      #suggestions {
        max-height: 30vh;
      }
    }
    .labelInput {
      #shinyBtn {
        top: 58%;
        right: 0;
        font-size: 1.2rem;
      }
    }
    select {
      font-size: 1.2rem !important;
    }
  }
  .example {
    main {
      #darkMode {
        width: 50%;
        // font-size: 1.2rem;
        // padding: 1rem 0;
        div {
          width: 35%;
          // height: 0%;
        }
      }
    }
    #cards {
      #loadMore {
        font-size: 1.2rem;
      }
    }
    #pkmnInfo {
      flex-direction: column;
      .txtWrapper {
        width: 100%;
        padding: 0px 2vw;
        box-sizing: border-box;
      }
      .imgWrapper {
        height: 400px;
        width: 100%;
        #hiddenPkmn {
          background-size: 60% auto;
        }
      }
    }
    #ballType {
      padding: 20px 6vw 20px;
      h2 {
        font-size: 2rem;
      }
      .ballTypesWrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .ballMiniSection {
          width: 80%;
          padding: 20px 10vw;
          p {
            font-size: 1.4rem;
          }
          .ball {
            gap: 2vw;
            & > * {
              width: 50%;
              height: 100px;
            }
          }
        }
      }
    }
    #shareWidgets {
      .flexCentered(column-reverse);
      gap: 40px;
      .tweet-popup {
        width: 100%;
        padding: 20px 2vw;
        .tweet-input {
          width: 90%;
        }
      }
    }
    .imAd {
      flex-direction: column-reverse;
      text-align: center;
      & > * {
        width: 100%;
      }
      #info {
        text-align: left;
        width: 100%;
        #titleWords {
          .flexCentered(column);
          align-items: flex-start;
          margin: 20px 0;
          gap: 20px;
          span {
            margin: 0;
            padding: 0 5vw;
          }
        }
      }
      #palette {
        .flexCentered(row);
        & > div {
          width: 100%;
          height: 20px;
          .flexCentered(row);
          gap: 1vw;
          padding: 0.5rem 1rem;
        }
      }
      #site {
        main {
          gap: 5vw;
        }
      }
    }
  }
}

.figma {
  background-color: #ffffff;
  width: 60%;
  height: calc((3.6 * 0.6 / 3) * 70vw);
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  gap: 1vw;
  align-self: center;
  border: 1px solid #000000;
  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after {
      margin-bottom: 15rem;
      font-size: 1.4rem;
      font-weight: 1000;
    }
  }
  .gridSection1 {
    background-color: var(--color2);
    &::after {
      content: var(--color2word);
      color: var(--hsp2);
    }
  }
  .gridSection2 {
    background-color: var(--color3);
    position: relative;
    .figmaLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5vw;
      position: absolute;
      top: 0;
      img {
        height: 20px;
      }
      p {
        font-family: "Oswald", sans-serif;
        color: var(--hsp3);
        font-size: 1.2rem;
      }
    }
    .pkmn {
      background: var(--artURL);
      background-size: cover;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      width: 150%;
      height: 60%;
      overflow-x: visible;
      position: absolute;
      bottom: 0rem;
    }
    .sfl {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      background-color: #ffffff;
      border-radius: 2rem;
      padding: 0rem 1rem;
      position: absolute;
      bottom: 3rem;
      font-size: 1.4rem;
      height: 3rem;
      font-weight: 1000;
      svg {
        margin-left: 0.5vw;
        vertical-align: middle;
      }
    }
    &::after {
      content: var(--color3word);
      color: var(--hsp3);
    }
  }
  .gridSection3 {
    background-color: var(--color4);
    &::after {
      content: var(--color4word);
      color: var(--hsp4);
    }
  }
}

#ballType {
  padding: 20px 6vw 60px;
  box-sizing: border-box;
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    margin: 2rem 0 0 0;
  }
  .ballTypesWrapper {
    display: flex;
    gap: 2vw;
    box-sizing: border-box;
    width: 100%;
    margin: 2rem 0;
    .ballMiniSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;
      background-color: var(--hsp2);
      color: var(--anti_hsp2);
      padding: 20px 2vw;
      border-radius: 12px;
      box-sizing: border-box;
      p {
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
        font-weight: 1000;
      }
      img {
        // width: 50%;
        height: auto;
        min-height: 100px;
        image-rendering: pixelated;
      }
      .typeImg {
        min-height: auto;
        margin-top: 1rem;
        width: auto;
        height: 50px;
      }
      .ball {
        display: flex;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        gap: 0.2vw;
        & > * {
          width: 33%;
          height: 100px;
        }
      }
    }
  }
}

#mainSlide,
#lastSlide {
  & > * {
    &::after {
      display: none;
    }
  }
  .gridSection2 {
    overflow: visible;
    &::after {
      display: flex;
      content: "Steal these palettes";
      text-align: center;
      font-size: 3.6rem;
      margin-bottom: 22rem;
    }
    .pkmn {
      width: 170%;
    }
  }
  .edition {
    color: #ffffff;
    background-color: #000000;
    border-radius: 12rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 1000;
    padding: 0.5rem 1rem;
    z-index: 9;
    transform: translate(80%, -200%) rotate(-5deg);
    &.visible {
      display: flex;
    }
  }
}

// .bmc-btn-container {
//   display: none;
// }

.figma,
#screenshotBtn,
#toggleSpecialEdition {
  display: none;
}
